/* ======================= styling for all web apps pages ========================= */
/* styling for mobile */
.mobile {
    display: none;
}
div.gone {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FAFCFF;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.active-page {
    border-left: 3px solid #6379F4 !important;
    color: #6379F4 !important;
    font-weight: bold !important;
    transition: 0.3s;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.main {
    display: flex;
    flex-direction: row;
    height: 81vh;
}
.footer {
    display: flex;
    flex-direction: row;
    background-color: #6379F4;
}

@keyframes pull-out {
    0% {
        transform: translate(0, 100px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 100%;
    }
}
@keyframes fade-in {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 100%;}
}
.animation-pull-out {
    animation-name: pull-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}
.animation-fade-in {
    animation-name: fade-in;
    animation-duration: 0.56s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

/* styling for header */
.nav-logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    color: #6379F4;
}
.nav-logo h2 {
    margin: 25px 10px 10px 125px;
}
.user-profile {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}
.user-profile-pic {
    margin-right: 25px;
}
.user-profile-name .name {
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #3A3D42;
    margin: 10px 0px 0px 0px;
}
.user-profile-name .phone {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: rgba(58, 61, 66, 0.9);
    margin: 0px 0px 10px 0px;
}
.notification {
    margin: 0px 125px 0px 25px;
}
/* make cool effects on user profile part */
.user-profile-pic:hover, .user-profile-name:hover, .notification:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: 0.3s;
}
.user-profile-name .name:hover, .user-profile-name .phone:hover  {
    font-weight: bold;
    transition: 0.3s;
} 
/* styling for main content */
/* styling menu bar on the left side */
.menu-bar {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    background-color: #FFF;
    border-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin: 25px 10px 15px 125px;
    padding-right: 10px;
}
.menu-bar-dashboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 20px 5px 0px;
}
.menu-bar-logout {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: flex-end;
    margin: 5px 20px 10px 0px;
}
.menu-items {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 5px 0px;
    padding-left: 34px;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: rgba(58, 61, 66, 0.8);
    border-left: 3px solid transparent;
}
.menu-items p {     
    margin: 10px 10px 10px 32px;
}
/* it will give effects on menu items */
.menu-items:hover {
    cursor: pointer;
    border-left: 3px solid #6379F4;
    color: #6379F4 !important;
    font-weight: bold;
    transition: 0.3s;
}

/* styling for footer */
.footer p {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #EFEFEF;
}
.contact {
    display: flex;
    flex: 1.5;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 75px;
}
.contact p {
    margin: 20px 57px 10px 10px;
}
.copyright {
    margin: 20px 10px 10px 125px;
}
.contact p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #FFF;
}

/* ======================= styling for home page only ========================= */
/* styling for menu content */
.menu-content {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 25px 125px 15px 10px;
}
/* styling for balance part */
.balance {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-radius: 25px;
    background-color: #6379F4;
    justify-content: space-between;
}
.saldo {
    margin: 15px 0px 0px 30px;
}
.saldo p {
    margin: 10px 0px 15px 0px;
}
.saldo-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #E0E0E0;
}
.saldo-nominal {
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    color: #FFFFFF;
}
.saldo-contact {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #DFDCDC;
}
.btn-transaction {
    display: flex;
    flex-direction: column;
    margin: 20px 67px 10px 10px;
}
button.transfer, button.topup {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
button.transfer p, button.topup p {
    margin: 13px 16px 13px 14px;
}
button.transfer img, button.topup img {
    margin: 8px 5px 5px 10px;
}
button.transfer:hover, button.topup:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px #FFF;
    transform: scale(1.05);
    transition: 0.3s;
}
button.transfer:active, button.topup:active {
    background-color: #FFF;
    color: #4c65f5;
}
/* styling for history transaction part */
/* styling history charts and so on */
.history-content {
    display: flex;
    flex-direction: row;
    flex: 2.5;
}
.history-content-chart {
    display: flex;
    flex-direction: column;
    flex: 1.3;
    border-radius: 25px;
    background-color: #FFF;
    margin: 10px 5px 0px 0px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
}
.financial {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
.income {
    margin: 10px 0px 0px 30px;
}
.expense {
    margin: 10px 30px 0px 0px;
}
.income .financial-text, .expense .financial-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
}
.income .financial-cash, .expense .financial-cash {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #3A3D42;
} 
.graphic {
    display: flex;
    flex: 1;
    margin: 0px 0px -30px 0px;
}
.graphic img {
    width: 290px;
    height: 200px;
    transform: translate(95px, -42px);
}
/* styling history transaction section */
.history-content-transaction {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 25px;
    background-color: #FFF;
    margin: 10px 0px 0px 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.history-transaction-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
    margin: 10px;
}
.history-page-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #6379F4;
}
.history-transaction-profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 5px;
}
.profile-description {
    display: flex;
    flex-direction: column;
}
.profile-description p {
    margin: 5px 5px 0px -29px;
}
.nominal-transfer {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #1EC15F;
}
.nominal-subscription {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FF5B37;
}
.profile-desc-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4D4B57;
}
.profile-desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7886;
}
/* styling cool effects on history transaction */
.history-transaction-profiles:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
} 
.history-page-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* ======================= styling for transaction history page only ========================= */
    /* dashboard used for container in history and transfer pages */
    .dashboard {
        display: flex;
        flex-direction: column;
        flex: 2;
        background-color: #FFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 25px;
        margin: 25px 125px 15px 10px;
    }
    .transaction-history-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #3A3D42;
        margin: 15px 5px 5px 30px;
    }
    .weekly, .monthly {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #7A7886;
        margin: 15px 5px 5px 30px;
    }
    /* make a container for each profile */
    .transaction-history-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 36px 8px 30px;
        padding: 4.5px;
    }
    /* this is for picture, name, and description */
    .transtory-detail.left {
        display: flex;
        flex-direction: row;
    }
    .profile-detail {
        display: flex;
        flex-direction: column;
        margin: 0px 10px 0px 20px;
    }
    .profile-detail-name {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #4D4B57;
        margin: 8px 2px 2px 2px;
    }
    .profile-detail-desc {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #7A7886;
        margin: 2px 2px 2px 2px;
    }
    /* styling for nominal */
    .nominal-income {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: right;
        color: #1EC15F;
        margin: 23px 12px 2px 2px;
    }
    .nominal-expense {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: right;
        color: #FF5B37;
        margin: 23px 12px 2px 2px;
    }
    /* floating effect with transform property */
    .transaction-history-detail:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0px 2px 5px #e6e6e7;
        border-radius: 10px;
        background-color: #fdfdfd;
        transition: 0.3s;
    }


/* ======================= styling for transfer receiver page only ========================= */
    .search-receiver-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #3A3D42;
        margin: 15px 5px 15px 30px;
    }
    .search-receiver-input {
        display: flex;
        flex-direction: row;
        background: rgba(58, 61, 66, 0.1);
        border-radius: 12px;
        padding: 10px;
        margin: 2px 30px 15px 25px;
    }
    .receiver-input {
        border: 0;
        outline: 0;
        width: 100%;
        margin-left: 20px;
        background: rgba(213, 213, 219, 0.1);
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: rgba(58, 61, 66, 0.4);
    }
    /* styling for each receiver */
    /* this is also use to style receiver in transfer input page */
    .receivers {
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin: 10px 30px 2px 25px;
    }
    .receiver-picture, .receiver-detail, .search-icon {
        margin-left: 20px;
    }
    .receiver-name {
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        color: #4D4B57;
        margin: 10px 0px 2px 2px;
    }
    .receiver-number {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #7A7886;
        margin: 5px 0px 10px 2px;
    }
    /* floating effects with hover and scale */
    .receivers:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: #f3f3f5;
        transition: 0.3s;
    }
    .receivers:active {
        background-color: #FFFFFF;
    }

/* ======================= styling for transfer input page only ========================= */
    .money-transfer-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #3A3D42;
        margin: 15px 5px 5px 30px;
    }
    .money-transfer-instruction {
        display: flex;
        justify-content: flex-start;
        margin: 10px 30px 2px 25px;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #7A7886;
    }
    /* styling input form transfer */
    .money-transfer-input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .money-transfer-input input {
        font-weight: bold;
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        color: #6379F4;
        caret-color: red;
        border: 0;
        outline: 0;
    }
    ::placeholder {
        color: #B5BDCC;
    }
    .money-transfer-balance {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #3A3D42;
        margin-top: 15px;
    }
    /* input form for notes */
    .money-transfer-desc {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }
    .edit-icon {
        position: relative;
        padding-bottom: 8px;
    }
    .money-transfer-note {
        border: 0;
        outline: 0;
        border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
        padding-left: 35px;
        margin-left: -25px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #3A3D42;
    }
    /* effect on note input when filled */ 
    .money-transfer-note:focus {
        border-bottom: 2.5px solid #6379F4;
    }
    /* styling continue button */
    .continue-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .btn-continue {
        border: 0;
        color: #FFF;
        font-weight: bold;
        background: #6379F4;
        box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
        border-radius: 12px;
        padding: 15px 35px 15px 35px;
        margin: 35px 45px 2px 2px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    /* cool effect on button */
    .btn-continue:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: #4a64f8;
        transition: 0.3s;
    }
    .btn-continue:active {
        background-color: #FFFFFF;
        color: #4a64f8;
        box-shadow: 0px 2px 10px #B5BDCC;
}