@media screen and (min-width: 300px) and (max-width: 500px) {
    body {
        width: 100%;
        height: 100%;
        font-family: 'Nunito Sans';
        background-color: #FAFCFF;
        /* overflow: scroll; */
    }
    .mobile, section.mobile {
        display: block;
    }
    .big-screen {
        display: none;
    }
    button {
        border: 0;
    }
    a {
        text-decoration: none;
    }
    /* styling for header */
    .nav-bar {
        display: flex;
        flex-direction: column;
        background-color: #6379F4;
        padding: 15px;
    }
    .nav-bar-mobile {
        display: flex;
        flex-direction: row;
        padding: 10px 7px 10px 7px;
        margin-top: 15px;
    }
    .status-bars {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-left: 21px;
    }
    /*  ======================== home page ========================== */
    
    .user-profile.mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 5px;
        padding: 20px;
    }
    .user-profile-pic {
        margin-left: -11px;
        margin-right: 0;
    }
    .saldo.mobile {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        margin-left: -72px;
    }
    .saldo-text.mobile {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #D0D0D0;
        margin-bottom: 0;
    }
    .saldo-nominal.mobile {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
        margin-top: 0;
    }
    .notification.mobile {
        display: block;
        margin-right: -6px;
    }

    /* styling for button */
    .btn-transaction.mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
    }
    button.transfer, button.topup {
        background: #EAEDFF;
        border-radius: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #514F5B;
        margin-left: 10px;
        padding: 0;
        width: 50%;
    }

    /* styling for main section */
    .menu-content {
        margin-right: 2px;
        margin-left: 2px;
    }
    .history-content {
        display: flex;
        flex-direction: column;
    }
    .history-content-transaction, .dashboard {
        box-shadow: none;
        background-color: transparent;
        margin: 0;
    }
    .history-transaction-profiles.mobile, .transaction-history-detail.mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        padding: 15px 5px 15px 5px;
        margin-top: 12px;
    }
    .profile-description {
        margin-left: -34px;
    }
    .history-transaction-title {
        display: flex;
        justify-content: space-between;
        margin: 20px 5px 30px 5px;
    }

    /*  ======================== transaction history page ========================== */
    .weekly, .monthly {
        margin-top: 25px;
    }
    .transaction-history-detail {
        margin: 0px 5px 0px 5px;
    }
    .transtory-detail {
        margin-left: 20px;
    }

    .btn-history {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
    }
    button.expense, button.income, button.calendar {
        margin: 0;
        background-color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #6379F4;
        padding: 12px;
        border-radius: 12px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    }
    button.expense, button.income {
        padding-bottom: 10px;
    }
    button.calendar {
        padding: 17px 25px 17px 25px;
    }
    button.calendar:hover {
        background-color: #6379F4;
        color: #FFFFFF;
        transition: 0.3s;
    }

    /*  ======================== transfer receiver page ========================== */
    .search-receiver-input.mobile {
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
        margin: 10px 0px 10px 0px;
    }
    .receiver-input.mobile {
        background-color: #FFFFFF;
    }
    .contacts-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #514F5B;
        margin-top: 25px;
        margin-left: 15px;
    }
    .contacts-info {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #8F8F8F;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .receivers {
        margin: 7px 5px 7px 5px;
        padding: 5px 5px 1px 5px;
    }
    .receivers.mobile {
        display: flex;
        flex-direction: row;
    }

    /*  ======================== transfer input page ========================== */
    .receivers.chosen {
        margin-top: 20px;
        padding: 12px 5px;
    }
    .money-transfer-input input {
        font-weight: bold;
        font-size: 42px;
        line-height: 56px;
        text-align: center;
    }
    ::placeholder {
        color: #B5BDCC;
    }
    .money-transfer-balance {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #7C7895;
        margin-top: 30px;
    }
    .money-transfer-desc {
        margin-top: 60px;
    }
    .money-transfer-note {
        width: 94%;
    }
    .continue-button {
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        margin-top: 180px;
    }
    .btn-continue {
        margin: 0;
        width: 90%;
    }

    /*  ======================== transaction details page ========================== */
    .dashboard.transaction-detail-mobile {
        overflow: auto;
    }
    .financial.mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .financial-text.mobile {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #D0D0D0;
    }
    .financial-cash.mobile, .weekly-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #F1F1F1;
    }
    .weekly-title {
        color: #514F5B;
        margin: 20px 5px 20px 15px;
    }
    .chart.mobile {
        margin: 10px;
    }
    .income.mobile, .expense.mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px;
    }

    /*  ======================== transfer confirmation page ========================== */
    .details {
        margin: 0;
        margin-top: 20px;
    }
    .details-content.mobile {
        display: inline-flex;
        margin: 15px;
        padding: 20px;
    }
    .details-content.notes {
        padding: 16px 124px 14px 35px;
    }
    .details-content.amount {
        padding: 15px 50px 15px 17px;
    }
    .details-content.balance-left {
        padding: 15px 50px 15px 17px;
    }
    .details-content.date {
        padding: 15px 34px 15px 17px;
    }
    .details-content.time {
        padding: 15px 80px 15px 17px;
    }


}