@media screen and (min-width: 320px) and (max-width: 500px){
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #FAFCFF;
    }
    .section-left, .section-right-text, .section-right-desc {
        display: none;
        
    }
    .mobile {
        display: flex;
        justify-content: center;
        margin: 30px 0px 20px 0px;
    }
    .logo-mobile {
        font-weight: bold;
        font-size: 26px;
        line-height: 35px;
        color: #6379F4;
    }
    .section-right {
        text-align: center;
        background-color: #FFFFFF;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        box-shadow: 2px 2px 4px 5px #eff1f5;
    }
    .section-right-mobile {
        display: flex;
        flex-direction: column;
    }
    .right-text-mobile {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #3A3D42;
        margin: 50px 0px 20px 0px;
    }
    .right-desc-mobile {
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: rgba(58, 61, 66, 0.6);
        margin: 50px 0px 20px 0px;
    }
    .input-form {
        width: 93%;
        margin-left: 15px;
        margin-top: 63px;
    }
    .forgot {
        margin-right: 19px;
    }
    .btn-mobile {
        width: 91%;
        margin-top: 50px;
        margin-left: 10px;
    }
    .btn-mobile.login {
        margin-top: 109px;
    }
    .create {
        margin-left: 50px;
        margin-bottom: 20px;
    }

    /* styling for reset password */
    .btn-mobile.reset {
        width: 95%;
        margin-top: 145px;
        margin-bottom: 50px;
    }
    .btn-mobile.reset.one {
        margin-top: 237px;
    }
}